<!DOCTYPE html>
<html>
  <head>
    <title>avis-IME</title>

    <meta charset="UTF-8">
    <meta property="og:title" content="avis-IME"/>
    <meta property="og:description" content="App que avisa quando um professor do IME atualiza seu site." />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="/static/components/normalize.css/normalize.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/toogle.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>
  <body class="feed">

    <header>
      <h1>avis-IME</h1>

      <em>fernando@fholiveira.com</em>
      <a href="/logout">sair</a>
    </header>

    <section>
      <header>
        <h1>Quais matérias você quer monitorar?</h1>
        <input type="search" placeholder="Pesquisar...">
      </header>

      <ul>
        <li>
          <input id="aaa" type="checkbox"><label for="aaa"></label>
          <label>
            <strong>Cálculo para funções de uma variável real I</strong>
            <small><em>Disciplina: </em>MAT01</small>
            <small><em>Professor: </em>José da Silva</small>
          </label>
        </li>
        <li>
          <input id="bbb" type="checkbox"><label for="bbb"></label>
          <label>MAT01 - Prof. José da silva</label>
        </li>
        <li>
          <input id="ccc" type="checkbox"><label for="ccc"></label>
          <label>MAT01 - Prof. José da silva</label>
        </li>
        <li>
          <input id="ddd" type="checkbox"><label for="ddd"></label>
          <label>MAT01 - Prof. José da silva</label>
        </li>
        <li>
          <input id="eee" type="checkbox"><label for="eee"></label>
          <label>MAT01 - Prof. José da silva</label>
        </li>
      </ul>
    </section>

    <footer>De hora em hora verificamos se os sites das matérias selecionadas foram alterados. Se algum foi, não se preocupe, te mandamos um email para avisar.</footer>
  </body>
</html>
